<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RAG Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='js/marked.min.js') }}"></script>
</head>
<body onload="resetChat()">
    <nav>
        <h1 style="color: #f8f9fa; letter-spacing: 2px; font-size: xx-large;">L.I.G.H.T.</h1>
        <h2 style="font-size: small;">DEVELOPER PANEL</h2>
    </nav>
    <div class="panel">
        <div id="chatbot">
        <h2>Chatbot</h2>
        <div id="chatbox" class="chatbox" >
        </div>
        <div id="typingIndicator" class="message bot-message" style="display: none;">Bot is thinking...</div>
        <input type="text" id="chatInput" placeholder="Type a message..." onkeypress="handleKeyPress(event,false)">
        <button onclick="resetChat()" style="margin-top: 10px;">Reset Chat</button>
        </div>
        <div id="popup" hidden="true">
            <h2>Explanation</h2>
            <div id="explanation" class="explanation"></div>
        </div>
        <div id="history" hidden="true">
            <h2>History</h2>
            <div id="historybox" class="history"></div>
        </div>
        <div class="score-container">
            <div>
                <div class="score-header"><button onclick="showDescription(0)">Compassion</button></div>
                <div class="circular-progress" id="chatbot-score1">
                    <div class="inner-circle"></div>
                    <p class="percentage">0/5</p>
                </div>
            </div>
            <div>
                <div class="score-header"><button onclick="showDescription(1)">Accuracy</button></div>
                <div class="circular-progress" id="chatbot-score2">
                    <div class="inner-circle"></div>
                    <p class="percentage">0/5</p>
                </div>
            </div>
            <div>
                <div class="score-header"><button onclick="showDescription(2)">Relevancy</button></div>
                <div class="circular-progress" id="chatbot-score3">
                    <div class="inner-circle"></div>
                    <p class="percentage">0/5</p>
                </div>
            </div>
            <div>
                <div class="score-header"><button onclick="showDescription(3)">Simplicity</button></div>
                <div class="circular-progress" id="chatbot-score4">
                    <div class="inner-circle"></div>
                    <p class="percentage">0/5</p>
                </div>
            </div>
            
            <div>
                <div class="score-header"><button onclick="showDescription(4)">Safety</button></div>
                <div class="circular-progress" id="chatbot-score5">
                    <div class="inner-circle"></div>
                    <p class="percentage">0/5</p>
                </div>
            </div>
            <div>
                <div class="score-header"><button onclick="showDescription(5)">Bias</button></div>
                <div class="circular-progress" id="chatbot-score6">
                    <div class="inner-circle"></div>
                    <p class="percentage">0/5</p>
                </div>
            </div>
            
        </div>
        <h2>Controls</h2>
        <button onclick="buttonClick(1)">Auto Generate A Question</button>
        <button onclick="buttonClick(2)">Copy Response to Clipboard</button>
        <button onclick="buttonClick(3)">View History</button>
    </div>
    <canvas id="scoreChart" width="400" height="200" class="panel"></canvas>
    <div class="panel">
        <div style="text-align: center;">
            <button style="text-align: center;" id="liveDataBtn">Show Live Data</button>
            <button style="text-align: center;" id="testingDataBtn">Show Testing Data</button>
        </div>
        <canvas id="averageRadarChart" width="400" height="400" ></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>